<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" --><head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Stomp The Monster - Volunteer Opportunties</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
<style type="text/css">
<!--
body {
	background-color: #5595d0;
	margin-top: 0px;
}
-->
</style>
<link href="GetInvolved_Volunteer_files/StompTheMonster.css" rel="stylesheet" type="text/css">
<script src="GetInvolved_Volunteer_files/ga.js" async="" type="text/javascript"></script><script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<style type="text/css">
<!--
a:link {
	color: #286199;
}
a:visited {
	color: #286199;
}
a:hover {
	color: #000000;
}
a:active {
	color: #000000;
}
.style1 {
	font-size: 9px;
	color: #000000;
}
-->
</style><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21366993-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></head>

<body onload="MM_preloadImages('images/Menu_Home_RO.jpg','images/Menu_About_MissionStmt_RO.jpg','images/Menu_About_TheStory_RO.jpg','images/Menu_About_BoardDir_RO.jpg','images/Menu_About_Financials_RO.jpg','images/Menu_Events_5kRun_RO.jpg','images/Menu_Events_FrankLaRocca_RO.jpg','images/Menu_Events_LifeisSweet_RO.jpg','images/Menu_Press_RO.jpg','images/Menu_GetInvolved_Donate_RO.jpg','images/Menu_GetInvolved_Volunteer_RO.jpg','images/Menu_GetInvolved_FollowUs_RO.jpg','images/Menu_Sponsors_RO.jpg','images/Menu_Links_RO.jpg','images/Menu_ContactUs_RO.jpg','images/Menu_StompsHowWeHelp_RO.jpg','images/Menu_TeamStomptheMonsters_RO.jpg','images/Menu_Events_OtherSTMevents_RO.jpg','images/Menu_Newsletter_RO.jpg')">
<div align="center">
  <table border="0" cellpadding="0" cellspacing="0" height="108" width="900">
    <tbody><tr>
      <td align="left" valign="top"><a href="http://stompthemonster.org/index.html"><img src="GetInvolved_Volunteer_files/MainLogoBanner.jpg" border="0" height="108" width="900"></a></td>
    </tr>
  </tbody></table>
  <table border="0" cellpadding="0" cellspacing="0" height="790" width="900">
    <tbody><tr>
      <td class="BkgNoRepeat" align="left" background="GetInvolved_Volunteer_files/Menu_BKG.jpg" bgcolor="#FFFFFF" height="790" valign="top" width="279"><table border="0" cellpadding="0" cellspacing="0" height="790" width="279">
        <tbody><tr>
          <td align="left" height="533" valign="top" width="279"><a href="http://stompthemonster.org/index.html"><img src="GetInvolved_Volunteer_files/Menu_Home.jpg" name="Image1" id="Image1" onmouseover="MM_swapImage('Image1','','images/Menu_Home_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="36" width="279"></a><br>
            <img src="GetInvolved_Volunteer_files/Menu_About.jpg" name="Image2" id="Image2" height="25" width="279"><br>
            <a href="http://stompthemonster.org/About_MissionStatement.html"><img src="GetInvolved_Volunteer_files/Menu_About_MissionStmt.jpg" name="Image3" id="Image3" onmouseover="MM_swapImage('Image3','','images/Menu_About_MissionStmt_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="19" width="279"></a><br>
            <a href="http://stompthemonster.org/Story.html"><img src="GetInvolved_Volunteer_files/Menu_About_TheStory.jpg" name="Image4" id="Image4" onmouseover="MM_swapImage('Image4','','images/Menu_About_TheStory_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="20" width="279"></a><br>
            <a href="http://stompthemonster.org/About_BoardOfDirectors.html"><img src="GetInvolved_Volunteer_files/Menu_About_BoardDir.jpg" name="Image5" id="Image5" onmouseover="MM_swapImage('Image5','','images/Menu_About_BoardDir_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="20" width="279"></a><br>
            <a href="http://stompthemonster.org/About_Financials.html"><img src="GetInvolved_Volunteer_files/Menu_About_Financials.jpg" name="Image6" id="Image6" onmouseover="MM_swapImage('Image6','','images/Menu_About_Financials_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="22" width="279"></a><br>
            <img src="GetInvolved_Volunteer_files/Menu_Events.jpg" name="Image7" id="Image7" height="25" width="279"><br>
            <a href="http://stompthemonster.org/Event_5KRun.html"><img src="GetInvolved_Volunteer_files/Menu_Events_5kRun_2013.jpg" name="Image8" id="Image8" onmouseover="MM_swapImage('Image8','','images/Menu_Events_5kRun_RO_2013.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="33" width="279"></a><br>
            <a href="http://stompthemonster.org/Event_FrankLaRocca.html"><img src="GetInvolved_Volunteer_files/Menu_Events_FrankLaRocca.jpg" name="Image9" id="Image9" onmouseover="MM_swapImage('Image9','','images/Menu_Events_FrankLaRocca_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="34" width="279"></a><br>
            <a href="http://stompthemonster.org/Event_LifeIsSweet.html"><img src="GetInvolved_Volunteer_files/Menu_Events_LifeisSweet_2013.jpg" name="Image10" id="Image10" onmouseover="MM_swapImage('Image10','','images/Menu_Events_LifeisSweet_RO_2013.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="36" width="279"><br>
            </a><a href="http://stompthemonster.org/Event_Other.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image31','','images/Menu_Events_OtherSTMevents_RO.jpg',1)"><img src="GetInvolved_Volunteer_files/Menu_Events_OtherSTMevents.jpg" alt="Other Events" name="Image31" id="Image31" border="0" height="27" width="279"></a><br>
            <a href="http://stompthemonster.org/PressAndPraise.html"><img src="GetInvolved_Volunteer_files/Menu_Press.jpg" name="Image11" id="Image11" onmouseover="MM_swapImage('Image11','','images/Menu_Press_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="28" width="279"></a><br>
            <a href="http://stompthemonster.org/Stomps.html"><img src="GetInvolved_Volunteer_files/Menu_StompsHowWeHelp.jpg" name="Image19" id="Image19" onmouseover="MM_swapImage('Image19','','images/Menu_StompsHowWeHelp_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="29" width="279"></a><br>
            <a href="http://stompthemonster.org/TeamSTM.html"><img src="GetInvolved_Volunteer_files/Menu_TeamStomptheMonsters.jpg" name="Image20" id="Image20" onmouseover="MM_swapImage('Image20','','images/Menu_TeamStomptheMonsters_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="27" width="279"><br>
            </a><a href="http://stompthemonster.org/Newsletter.html"><img src="GetInvolved_Volunteer_files/Menu_Newsletter.jpg" alt="Newsletter" name="Image22" id="Image22" onmouseover="MM_swapImage('Image22','','images/Menu_Newsletter_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="30" width="279"></a><br>            
            <img src="GetInvolved_Volunteer_files/Menu_GetInvolved.jpg" name="Image12" id="Image12" height="23" width="279"><br>
            <a href="http://stompthemonster.org/GetInvolved_Donate.html"><img src="GetInvolved_Volunteer_files/Menu_GetInvolved_Donate.jpg" name="Image13" id="Image13" onmouseover="MM_swapImage('Image13','','images/Menu_GetInvolved_Donate_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="21" width="279"></a><br>
            <a href="http://stompthemonster.org/GetInvolved_Volunteer.html"><img src="GetInvolved_Volunteer_files/Menu_GetInvolved_Volunteer.jpg" name="Image14" id="Image14" onmouseover="MM_swapImage('Image14','','images/Menu_GetInvolved_Volunteer_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="19" width="279"></a><br>
            <a href="http://stompthemonster.org/GetInvolved_FollowUs.html"><img src="GetInvolved_Volunteer_files/Menu_GetInvolved_FollowUs.jpg" name="Image15" id="Image15" onmouseover="MM_swapImage('Image15','','images/Menu_GetInvolved_FollowUs_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="23" width="279"></a><br>
            <a href="http://stompthemonster.org/Sponsors.html"><img src="GetInvolved_Volunteer_files/Menu_Sponsors.jpg" name="Image16" id="Image16" onmouseover="MM_swapImage('Image16','','images/Menu_Sponsors_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="28" width="279"></a><br>
            <a href="http://stompthemonster.org/Links.html"><img src="GetInvolved_Volunteer_files/Menu_Links.jpg" name="Image17" id="Image17" onmouseover="MM_swapImage('Image17','','images/Menu_Links_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="30" width="279"></a><br>
            <a href="http://stompthemonster.org/ContactUs.html"><img src="GetInvolved_Volunteer_files/Menu_ContactUs.jpg" name="Image18" id="Image18" onmouseover="MM_swapImage('Image18','','images/Menu_ContactUs_RO.jpg',1)" onmouseout="MM_swapImgRestore()" border="0" height="29" width="279"></a></td>
        </tr>
        <tr>
          <td align="left" height="257" valign="bottom" width="279">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><div align="center"><img src="GetInvolved_Volunteer_files/STM-SignUpHeader.jpg" alt="Email List Sign Up"></div><div align="center"><!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->
<table style="border:0px solid #000000;" bgcolor="#FFFFFF" border="0" cellpadding="3" cellspacing="0">
<tbody><tr>
<td style="font-weight: bold; font-family:Arial; font-size:12px; color:#000000;" align="center"></td>
</tr>
<tr>
<td style="border-top:0px solid #000000" align="center">
<form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:2;">
<input name="llr" value="xbc56meab" type="hidden">
<input name="m" value="1104240642103" type="hidden">
<input name="p" value="oi" type="hidden">
<font style="font-weight: normal; font-family:Arial; font-size:12px; color:#000000;">Email:</font> <input name="ea" size="20" style="font-size:10pt; border:1px solid #999999;" type="text">

<input name="go" value="Join" class="submit" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10pt;" type="submit">
</form></td>
</tr>
</tbody></table>
<!-- END: Constant Contact Basic Opt-in Email List Form -->
<!-- BEGIN: SafeSubscribe -->
<img src="GetInvolved_Volunteer_files/safe_subscribe_logo.gif" alt="" border="0" height="14" width="168">
<!-- END: SafeSubscribe -->
<br>
            <a href="http://stompthemonster.org/TeamSTM.html"></a></div> 
            <div align="center">
              <p>
                <!-- END: Email Marketing you can trust -->
                <a href="http://www.facebook.com/StompTheMonster" target="_blank"><img src="GetInvolved_Volunteer_files/STM-Facebook.jpg" alt="Like us on Facebook" border="0"><br>
                </a></p>
              <p></p>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="279">
              <tbody><tr>
                <td><img src="GetInvolved_Volunteer_files/CorporateSponsors.jpg" height="45" width="279"><br>
                  <a href="http://www.theunrealagency.com/" target="_new"><img src="GetInvolved_Volunteer_files/Sponsor1_Unreal.jpg" border="0" height="86" width="149"></a><a href="http://www.matrixgenerics.com/" target="_new"><img src="GetInvolved_Volunteer_files/Sponsor2_Matrix.jpg" border="0" height="86" width="123"></a><br>
                  <a href="http://www.lhrgb.com/" target="_new"><img src="GetInvolved_Volunteer_files/Sponsor3_LaRocca.jpg" border="0" height="60" width="273"></a><br>
                  <a href="http://www.belviderepharmacy.com/" target="_new"><img src="GetInvolved_Volunteer_files/Sponsor4_Belvidere.jpg" border="0" height="98" width="167"></a><a href="http://www.cloverbcm.com/" target="_new"><img src="GetInvolved_Volunteer_files/Sponsor5_Clover.jpg" border="0" height="98" width="97"></a><br>
                  <br><br></td>
              </tr>
            </tbody></table></td>
        </tr>
      </tbody></table></td>
      <td align="left" bgcolor="#FFFFFF" height="790" valign="top" width="621"><!-- InstanceBeginEditable name="MainContent" -->
        <table border="0" cellpadding="0" cellspacing="0" height="67" width="621">
          <tbody><tr>
            <td class="BkgNoRepeat" align="left" background="GetInvolved_Volunteer_files/SubHeader_GetInv.jpg" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
          </tr>
        </tbody></table>
        <table border="0" cellpadding="0" cellspacing="0" height="45" width="621">
          <tbody><tr bgcolor="#FFFFFF">
            <td class="BkgNoRepeat" align="left" background="GetInvolved_Volunteer_files/SubHeader_GetInv_Volunteer.jpg" valign="top">&nbsp;</td>
          </tr>
        </tbody></table>
        <table border="0" cellpadding="0" cellspacing="0" height="678" width="621">
          <tbody><tr>
            <td class="indexBODYTXT" align="left" bgcolor="#FFFFFF" valign="top" width="650">
              <form name="frm" action="/cgi-bin/FormMail.getinvolved_volunteer.pl" method="post" onsubmit="return validate(frm)">
              <input name="redirect" value="http://www.stompthemonster.org/thank_you.html" type="hidden">
              
<p>At STOMP the Monster&#8482;, we rely on the generosity of volunteers to 
make this important work possible. If you are interested in assisting us
 in any capacity, please submit the form below, indicating your areas of
 interest, and we will contact you. Thank you!</p>
<table border="0" cellpadding="0" cellspacing="0" width="427">  
  
  <tbody><tr>
    <td class="text" width="427"><table border="0" cellpadding="0" cellspacing="6" width="416">
      
      <tbody><tr>
        <td class="text" valign="top" width="100"><div align="left">Name</div></td>
        <td colspan="3" width="298"><input name="Name" size="35" type="text"></td>
      </tr>
      <tr>
        <td width="100"><div align="left"></div></td>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="text" valign="top" width="100"><div align="left">Street Address</div></td>
        <td colspan="3"><textarea name="Street Address" cols="35" rows="5"></textarea></td>
      </tr>
      <tr>
        <td width="100"><div align="left"></div></td>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="text" valign="top" width="100"><div align="left">City</div></td>
        <td colspan="3"><input name="City" size="35" type="text"></td>
      </tr>
      <tr>
        <td width="100"><div align="left"></div></td>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="text" valign="top" width="100"><div align="left">State</div></td>
        <td colspan="3"><input name="State" size="3" type="text"></td>
      </tr>
      <tr>
        <td width="100"><div align="left"></div></td>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="text" valign="top" width="100"><div align="left">Zip</div></td>
        <td colspan="3"><input name="Zip" size="5" type="text"></td>
      </tr>
      <tr>
        <td width="100"><div align="left"></div></td>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="text" valign="top" width="100"><div align="left">Phone Number</div></td>
        <td colspan="3"><input name="Phone Number" size="35" type="text"></td>
      </tr>
      <tr>
        <td class="text" width="100"><div align="left">Email Address</div></td>
        <td colspan="3"><input name="formmail_mail_email" type="text"></td>
      </tr>
      <tr>
        <td width="100"><div align="left"></div></td>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="text" valign="top" width="100"><div align="left">Which event(s) would you like to volunteer for?</div></td>
        <td colspan="3"><textarea name="Which event(s) would you like to volunteer for?" cols="35" rows="5"></textarea></td>
      </tr>
      
      <tr>
        <td colspan="4"><input name="Submit" value="Submit" type="submit"></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>
  </form>
	<script language="javascript">
	function validate(frm) {
		var inputFields = new Array("Name" ,"Street Address" ,"City" ,"State" ,"Zip" ,"Phone Number" ,"formmail_mail_email" ,"Which event(s) would you like to volunteer for?");
		var counter;
		var name;
		var msg = "Please complete the following fields:\n";
		var badFields = "";
		for (counter = 0; counter < inputFields.length; counter++) {
			name = inputFields[counter];
			if (frm.elements[name].value.length == 0) {
				if (name == "formmail_mail_email") {
					badFields = badFields + "  - Email Address \n";
				} else {
					badFields = badFields + "  - " + name + "\n";
				}
			}
		}
		if (badFields.length != 0) {
			alert(msg + badFields);
			return false;
		}
		if (frm.formmail_mail_email.value.length > 0) {
			return emailCheck(frm.formmail_mail_email.value);
		} else {
			return true;
		}
	}

	function emailCheck(emailStr) {
		var emailPat=/^(.+)@(.+)$/;
		var specialChars="\\(\\)<>@,;:\\\\\\\"\\.\\[\\]";
		var validChars="\[^\\s" + specialChars + "\]";
		var quotedUser="(\"[^\"]*\")";
		var ipDomainPat=/^\[(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})\]$/;
		var atom=validChars + '+';
		var word="(" + atom + "|" + quotedUser + ")";
		var userPat=new RegExp("^" + word + "(\\." + word + ")*$");
		var domainPat=new RegExp("^" + atom + "(\\." + atom +")*$");
		var matchArray=emailStr.match(emailPat);

		if (matchArray==null) {
			alert("Email address seems incorrect (check @ and .'s)");
			return false;
		}

		var user=matchArray[1];
		var domain=matchArray[2];

		if (user.match(userPat)==null) {
    			alert("The username doesn't seem to be valid.");
			return false;
		}

		var IPArray=domain.match(ipDomainPat);
		if (IPArray!=null) {
	  		for (var i=1;i<=4;i++) {
			    if (IPArray[i]>255) {
		        	alert("Destination IP address is invalid!");
				return false;
	 	   		}
    			}
    			return true;
		}

		var domainArray=domain.match(domainPat);
		if (domainArray==null) {
			alert("The domain name doesn't seem to be valid.");
    			return false;
		}

		var atomPat=new RegExp(atom,"g");
		var domArr=domain.match(atomPat);
		var len=domArr.length;
		if (domArr[domArr.length-1].length<2 || domArr[domArr.length-1].length>3) {
		   alert("The address must end in a three-letter domain, or two letter country.");
   			return false;
		}

		if (len<2) {
   			var errStr="This address is missing a hostname!";
			alert(errStr);
   		return false;
		}

 		return true;
	}
</script></td>
          </tr>
        </tbody></table>
        <!-- InstanceEndEditable --></td>
    </tr>
  </tbody></table>
  <table class="BottomText" border="0" cellpadding="0" cellspacing="0" height="75" width="900">
    <tbody><tr>
      <td align="center" valign="top">        <p>Copyright © 2012 STOMP THE MONSTER, LLC. All Rights Reserved. <br>
          STOMP The Monster&#8482; is a 501(c)(3) Charitable Organization.<br>
        Please direct inquires to <a href="mailto:info@stompthemonster.org">info@stompthemonster.org</a><br>
      Designed by <a href="http://www.theunrealagency.com/">Unreal</a></p>
      <p class="style1"><u>STOMP The Monster&#8482; Policy Against Discrimination</u><br>
  STOMP The Monster&#8482; shall not discriminate on the basis of race, color,
 religion (creed), gender, age, national origin (ancestry), disability, 
marital status, <br>
      sexual orientation, political affiliation or military status, in 
any of its activities or operations. These activities include, but are 
not limited to, hiring and firing of staff, <br>
      selection of volunteers, selection of vendors, selection of grant recipients, and provision of services.</p></td>
    </tr>
  </tbody></table>
</div>


</body><!-- InstanceEnd --></html>